html {
  letter-spacing: $letter-spacing-standard;
}

a,
button,
label {
  &:focus {
    color: $primary !important;
    outline-color: $secondary-green !important;
  }
}

::selection {
  background-color: $light;
}

ul {
  padding-left: 0 !important;
  list-style-type: none;
}

img {
  object-fit: cover;
}

h2 {
  @media (min-width: $grid-breakpoints-md) {
    font-size: $font-size-3xl !important;
  }

  @media (min-width: $grid-breakpoints-lg) {
    font-size: $font-size-4xl !important;
  }
}

h3 {
  @media (min-width: $grid-breakpoints-sm) {
    font-size: $font-size-2xl !important;
  }

  @media (min-width: $grid-breakpoints-md) {
    font-size: $font-size-4xl !important;
  }

  @media (min-width: $grid-breakpoints-lg) {
    font-size: $font-size-4xl !important;
  }
}

h4 {
  font-family: $font-family-span !important;
  font-size: $font-size-sm !important;
  margin-bottom: 0 !important;
}

.grid-individual {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: $spacing-outside 20% $spacing-outside 18% $spacing-outside 32% $spacing-outside $spacing-outside;
    grid-template-rows: auto;
  }
}
