html {
  letter-spacing: $letter-spacing-standard;
}

ul {
  list-style-type: none;
}

img {
  object-fit: cover;
}

h2 {
  @media (min-width: $grid-breakpoints-md) {
    font-size: $font-size-3xl !important;
  }

  @media (min-width: $grid-breakpoints-lg) {
    font-size: $font-size-4xl !important;
  }
}

h3 {
  @media (min-width: $grid-breakpoints-sm) {
    font-size: $font-size-2xl !important;
  }

  @media (min-width: $grid-breakpoints-md) {
    font-size: $font-size-4xl !important;
  }

  @media (min-width: $grid-breakpoints-lg) {
    font-size: $font-size-4xl !important;
  }
}

.grid-individual {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 6% 20% 6% 18% 6% 32% 6% 6%;
    grid-template-rows: auto;
  }
}
