$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
    "height": map-merge(
      map-get($utilities, "height"),
      ( responsive: true ),
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true ),
    ),
    "position": map-merge(
      map-get($utilities, "position"),
      ( responsive: true ),
    ),
    "font-family": (
      property: font-family,
      class: font,
      responsive: false,
      values: (
        base: $font-family-base,
        headline: $font-family-headlines,
        span: $font-family-span,
      )
    ),
    "padding-x": map-merge(
      map-get($utilities, "padding-x"),
      (
        values: map-merge(
          map-get(map-get($utilities, "padding-x"), "values"),
          (6p: 6%, 12p: 12%),
        ),
      ),
    ),
    "margin-x": map-merge(
      map-get($utilities, "margin-x"),
      (
        values: map-merge(
          map-get(map-get($utilities, "margin-x"), "values"),
          (6p: 6%, 12p: 12%),
        ),
      ),
    ),
    "justify-self": (
      property: justify-self,
      class: justify-self,
      responsive: true,
      values: (flex-start, flex-end, end)
    ),
    "max-width": (
      property: max-width,
      class: mw,
      responsive: true,
      values: (
        28: $spacer * 28,
        30: $spacer * 30,
        40: $spacer * 40,
        45: $spacer * 45,
        max: max-content,
        none: none,
      )
    ),
    "max-height": (
      property: max-height,
      class: mh,
      responsive: true,
      values: (
        4: $spacer * 4,
        15: $spacer * 15,
        18: $spacer * 18,
        24: $spacer * 24,
        28: $spacer * 28,
        38: $spacer * 38,
        45: $spacer * 45,
        max: max-content,
      )
    ),
  )
);
