$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
    "font-family": (
      property: font-family,
      class: font,
      responsive: false,
      values: (
        base: $font-family-base,
        headline: $font-family-headlines,
        span: $font-family-span,
      )
    ),
    "padding-x": map-merge(
      map-get($utilities, "padding-x"),
      (
        values: map-merge(
          map-get(map-get($utilities, "padding-x"), "values"),
          (6p: 6%, 12p: 12%),
        ),
      ),
    ),
    "margin-x": map-merge(
      map-get($utilities, "margin-x"),
      (
        values: map-merge(
          map-get(map-get($utilities, "margin-x"), "values"),
          (6p: 6%, 12p: 12%),
        ),
      ),
    ),
    "grid-row-start": (
      property: grid-row-start,
      class: g-row-s,
      responsive: true,
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5
      )
    ),
    "grid-row-end": (
      property: grid-row-end,
      class: g-row-e,
      responsive: true,
      values: (
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
      )
    ),
  )
);
