$enable-rounded: false;
$enable-cssgrid: true;

$extra-light: #faf9f7;
$light: #e7e4db;
$primary: #b3a898;
$secondary-red: #9d887a;
$secondary-green: #8e8b7c;
$dark: #5f6053;

$theme-colors: (
  "primary": $primary,
  "secondary-red": $secondary-red,
  "secondary-green": $secondary-green,
  "light": $light,
  "extra-light": $extra-light,
  "dark": $dark
);

$color-contrast-dark: $dark;
$color-contrast-light: $extra-light;

$body-bg: $extra-light;
$body-color: $dark;

$link-color: $secondary-green;
$link-decoration: none;
$link-shade-percentage: 0;
$link-hover-color: $dark;

$font-family-base: "adobe-caslon-pro";
$font-family-headlines: "ivypresto-display";
$font-family-span: "montserrat";

$font-size-root: 16px;
$font-size-base: 1rem;
$font-size-2xs: $font-size-base * .625;
$font-size-xs: $font-size-base * .75;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.125;
$font-size-xl: $font-size-base * 1.25;
$font-size-2xl: $font-size-base * 1.875;
$font-size-3xl: $font-size-base * 2.188;
$font-size-4xl: $font-size-base * 3.125;
$font-size-5xl: $font-size-base * 4.375;

$spacing-outside: 6%;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.75,
  9: $spacer * 5,
  10: $spacer * 6.25,
  11: $spacer * 7.5,
  12: $spacer * 10,
);

$height-lines: 1.5px;

$line-height-sm: 1.2;

$letter-spacing-wide: 0.15em;
$letter-spacing-standard: 0.12em;
$letter-spacing-tight: 0.05em;

$headings-margin-bottom: $spacer * 1.5;
$headings-font-family: $font-family-headlines;
$headings-color: $secondary-green;
$headings-line-height: $line-height-sm;
$headings-font-weight: 100;

$hr-color: $secondary-red;
$hr-height: $height-lines;
$hr-opacity: 1;

$btn-padding-y: $spacer / 2;
$btn-padding-x: $spacer;
$btn-font-family: $font-family-base;
$btn-line-height: 1.5;
$btn-border-width: 1px;
$btn-box-shadow: none;

$navbar-light-color: $extra-light;
$navbar-light-hover-color: $secondary-green;
$navbar-padding-y: 0;

$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1400px;

$container-padding-x: 0;

$z-index-low: -1;
