.blockquote {
  grid-column: 2/8;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 2/7;
  }

  > p {
    font-family: $font-family-headlines;
    font-weight: $headings-font-weight;

    @media (min-width: $grid-breakpoints-lg) {
      font-size: $font-size-xl;
    }
  }
}

.blockquote-large > p {
  font-size: $font-size-2xl;
  max-width: 45rem;

  @media (min-width: $grid-breakpoints-lg) {
    font-size: $font-size-4xl;
  }
}

.blockquote-footer {
  font-family: $font-family-span;
  max-width: 30rem;
  white-space: nowrap;
}

.blockquote-footer-small {
  font-size: $font-size-base;
}