.blockquote {
  grid-column: 2/8;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 2/7;
  }

  > p {
    font-weight: $headings-font-weight;
  }
}

.blockquote-large {
  > p {
    max-width: $spacer * 45;
  }
}

.blockquote-footer {
  max-width: $spacer * 30;
  white-space: nowrap;
}

.blockquote-footer-small {
  font-size: $font-size-base;
}
