.btn {
  grid-column: 2/8;
  max-width: max-content;
  max-height: max-content;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 2/5;
    max-height: $spacer * 4;
  }
}

.btn-extra-light {
  background-color: transparent;
  border-color: $primary;

  &:hover {
    background-color: $primary;

    > p {
      color: $extra-light !important;
    }
  }
}
