.circle {
  &::after {
    z-index: 30;
    width: $spacer * 5;
    height: $spacer * 5;
    content: "";
    border: $height-lines solid $primary;
    border-radius: 100%;
  }

  @media (min-width: $grid-breakpoints-lg) {
    &::after {
      width: $spacer * 12.5;
      height: $spacer * 12.5;
    }
  }
}

.circle-top-left {
  &::after {
    position: absolute;
    top: $spacer * -2.5;
    left: $spacer * -2.5;
  }

  @media (min-width: $grid-breakpoints-lg) {
    &::after {
      top: $spacer * -6.25;
      left: $spacer * -6.25;
    }
  }
}

.circle-top-right {
  &::after {
    position: absolute;
    top: $spacer * -2.5;
    right: $spacer * -2.5;
  }

  @media (min-width: $grid-breakpoints-lg) {
    &::after {
      display: none;
    }
  }
}

.circle-bottom-right {
  &::after {
    position: absolute;
    right: $spacer * -2.5;
    bottom: $spacer * -2.5;
  }

  @media (min-width: $grid-breakpoints-lg) {
    &::after {
      right: $spacer * -6.25;
      bottom: $spacer * -6.25;
    }
  }
}
