.footer {
  &::before {
    background-image: url('/src/images/icon-corn-green.svg');
    background-repeat: repeat-x;
    background-size: 1.5rem;
    content: '';
    height: 100%;
    opacity: 40%;
    position: absolute;
    top: -2rem;
    width: 100%;
    z-index: -1;
  }
  
  @media (min-width: $grid-breakpoints-lg) {
    &::before {
      background-repeat: repeat;
      right: 0;
      top: 0;
      width: 65%;
    }
  }

  > div {
    padding-right: 6%;
    padding-left: 6%;

    @media (min-width: $grid-breakpoints-lg) {
      width: 85%;
    }
  }

  .js-link {
    font-family: $font-family-span;
    font-size: $font-size-xs;
  }
  nav {
    @media (min-width: $grid-breakpoints-sm) {
      text-align: center !important;
      max-width: 30rem;
    }

    @media (min-width: $grid-breakpoints-lg) {
      text-align: center !important;
      max-width: none;
    }
  }
}

.footer-logo {
  > svg {
    width: 7.5rem;
  }
}

.footer-description {
  font-size: $font-size-sm;
}
