.navbar {
  > div {
    margin: 0 $spacing-outside;

    @media (min-width: $grid-breakpoints-xxl) {
      margin: 0;
    }
  }
  ul {
    @media (min-width: $grid-breakpoints-lg) {
      grid-row: 1/2;
    }
  }
}

.navbar-brand {
  @media (min-width: $grid-breakpoints-lg) {
    grid-row: 1/2;
  }

  > p {
    font-family: $font-family-span;
    font-size: $font-size-2xs;
    font-weight: 500;
    letter-spacing: $letter-spacing-wide;

    @media (min-width: $grid-breakpoints-lg) {
      font-size: $font-size-xs;
    }
  }

  > svg {
    @media (min-width: $grid-breakpoints-lg) {
      transform: scale(160%);
    }
  }
}

.navbar-logo,
.navbar-brand {
  &:hover {
    opacity: 75%;
    transition: all 300ms ease-in-out;
    transform: scale(105%);
  }
}

.navbar-toggler {
  z-index: $zindex-tooltip;
  justify-self: flex-end;
  max-width: max-content;

  > div {
    width: $spacer * 1.2;
    height: 2px;
    background-color: $secondary-red;
  }

  > div:first-of-type {
    width: $spacer * 1.5;
  }

  > div:last-of-type {
    width: $spacer * 0.9;
  }
}

.navbar-toggler[aria-expanded="true"] {

  > div {
    background-color: $extra-light;
  }
}

.navbar-collapse {
  @media (min-width: $grid-breakpoints-lg) {
    position: static !important;
    width: auto !important;
    height: 100% !important;
    grid-row: 1/2;
  }
}

.navbar-nav {
  font-family: $font-family-span;

  @media (min-width: $grid-breakpoints-lg) {
    width: auto !important;
    height: auto !important;
    background-color: transparent !important;
  }
}

.nav-link {
  @media (min-width: $grid-breakpoints-lg) {
    font-size: $font-size-2xs;
    color: $secondary-green !important;

    &:hover {
      color: $dark !important;
      transition: all 300ms ease-in-out;
    }
  }
}
