.navbar {
  @media (min-width: 992px) {

    > .container-fluid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // border-bottom: $height-lines solid $secondary-red;
    }
  }
}

.navbar-brand {
  @media (min-width: 992px) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  > p {
    font-family: $font-family-span;
    letter-spacing: $letter-spacing-wide;
    font-weight: 500;
    font-size: $font-size-2xs;
  
    @media (min-width: 992px) {
      font-size: $font-size-xs;
    }
  }

  > svg {
    @media (min-width: 992px) {
      transform: scale(160%);
    }
  }
}

.navbar-toggler {
  z-index: $zindex-tooltip;

  > div {
    height: 2px;
    width: 1.2rem;
    background-color: $secondary-red;
  }

  > div:first-of-type {
    width: 1.5rem;
  }

  > div:last-of-type {
    width: 0.9rem;
  }
}

.navbar-toggler[aria-expanded="true"] {

  > div {
    background-color: $extra-light;
  }
}

.navbar-collapse {
  @media (min-width: 992px) {
    height: 100% !important;
    width: auto !important;
    position: static !important;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.navbar-nav {
  font-family: $font-family-span;

  @media (min-width: 992px) {
    background-color: transparent !important;
    width: auto !important;
    height: auto !important;
  }
}

.nav-link {
  @media (min-width: 992px) {
    color: $secondary-green !important;
    font-size: $font-size-2xs;
  }
}