.navbar-brand p {
  font-family: $font-family-span;
  letter-spacing: $letter-spacing-wide;
  text-transform: uppercase;
  color: $secondary-green;
  font-weight: 500;
  font-size: $font-size-2xs;
  margin-bottom: 0;

  @media (min-width: 992px) {
    font-size: $font-size-xs;
  }
}

.navbar-toggler {
  border: none;
  z-index: $zindex-tooltip;

  > div {
    height: 2px;
    width: 1.2rem;
    background-color: $secondary-red;
  }

  > div:first-of-type {
    width: 1.5rem;
  }

  > div:last-of-type {
    width: 0.9rem;
  }
}

.navbar-toggler[aria-expanded="true"] {
  border: none;

  > div {
    background-color: $extra-light;
  }
}

.navbar-nav {
  font-family: $font-family-span;
  background: $primary;
}

.nav-link {
  text-transform: lowercase;
  letter-spacing: $letter-spacing-standard;
}