.philosophy-headline {
  grid-column: 2/8;
}

.philosophy-text-light {
  grid-column: 2/8;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 2/5;
  }
}

.philosophy-text-green {
  grid-column: 1/-1;
  padding-right: $spacing-outside;
  padding-left: $spacing-outside;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 6/9;
    grid-row: 3/5;
    padding-right: calc($spacing-outside * 2);
    padding-left: calc($spacing-outside * 2);
  }
}
