.philosophy-headline {
  grid-column: 2/8;
}

.philosophy-text-light {
  grid-column: 2/8;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 2/5;
  }
}

.philosophy-text-green {
  grid-column: 1/-1;
  padding-left: 6%;
  padding-right: 6%;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 6/9;
    grid-row: 3/5;
    padding-left: calc(6% * 2);
    padding-right: calc(6% * 2);
  }
}

