.philosophy {
  @include grid-individual;

  .blockquote-footer {
    &::before {
      width: 100%;
      margin-right: 0.5em;
      content: "" !important;
      border-bottom: $height-lines solid $secondary-red;
    }
  }
}

.philosophy-headline {
  grid-column: 2/8;
}

.philosophy-text-light {
  grid-column: 2/8;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 2/5;
  }
}

.philosophy-text-green {
  grid-column: 1/-1;

  @media (min-width: $grid-breakpoints-lg) {
    grid-column: 6/9;
  }
}
