.products {
  padding: 0 6%;

  @media (min-width: $grid-breakpoints-lg) {
    &::after {
      background-color: $light;
      content: '';
      height: 20%;
      position: absolute;
      right: 0;
      left: 0;
      top: 11%;
      width: 100%;
      z-index: -1;
    }
  }

  picture {
    max-height: 15rem;

    @media (min-width: $grid-breakpoints-sm) {
      max-height: 24rem;
    }

    @media (min-width: $grid-breakpoints-xl) {
      max-height: 28rem;
    }
  }

  .border {
    @media (min-width: $grid-breakpoints-lg) {
      border: none !important;
    }
  }
}

.products-section-headline {
  font-size: $font-size-2xl !important;
  grid-row: 2/3;
}
