.products {
  padding: 0 $spacing-outside;

  @media (min-width: $grid-breakpoints-lg) {
    &::after {
      position: absolute;
      top: 11%;
      right: 0;
      left: 0;
      z-index: $z-index-low;
      width: 100%;
      height: 20%;
      content: "";
      background-color: $light;
    }
  }

  picture {
    max-height: $spacer * 15;

    @media (min-width: $grid-breakpoints-sm) {
      max-height: $spacer * 24;
    }

    @media (min-width: $grid-breakpoints-xl) {
      max-height: $spacer * 28;
    }
  }

  .border {
    @media (min-width: $grid-breakpoints-lg) {
      border: none !important;
    }
  }
}

.products-section-headline {
  font-size: $font-size-2xl !important;
  grid-row: 2/3;
  white-space: nowrap;
}

.products-second-image {
  @media (min-width: $grid-breakpoints-lg) {
    > img {
      clip-path: url("#clip-path-full");
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: $height-lines;
      content: "";
      background-color: $secondary-red;
    }
  }
}

.products-list-label {
  cursor: pointer;

  &::after {
    position: absolute;
    top: 40%;
    right: 0;
    width: $spacer * 1.25;
    height: $spacer * 0.625;
    content: "";
    background-image: url("/src/images/arrow-down.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }

  @media (min-width: $grid-breakpoints-lg) {
    cursor: text;

    &::after {
      position: inherit;
      width: 100%;
      height: auto;
      margin-left: 1em;
      background-image: none;
      border-bottom: $height-lines solid $secondary-red;
      transform: none;
    }
  }
}

.collapsed {
  .products-list-label {
    &::after {
      transform: rotate(0deg);
    }
  }

  @media (min-width: $grid-breakpoints-lg) {
    ~ ul {
      display: block !important;
    }
  }
}

